<nav class="ecd text-center no-select defaultToolbar">
    <ul class="pull-left">
        <li class="button-li ecd-local-file">
            <i class="icon-folder"></i>
        </li>
        <li class="vertical-line">&nbsp;</li>
        <li class="button-li ecd-print">
            <i class="icon-print"></i>
        </li>
        <li class="vertical-line">&nbsp;</li>
    </ul>
    <ul>
        <li class="vertical-line">&nbsp;</li>
        <li class="button-li ecd-previous">
            <i class="icon-prev"></i>
        </li>
        <li class="button-li ecd-next">
            <i class="icon-next"></i>
        </li>
        <li class="field-li"><label>
            <input type="text" class="input ecd-page-num-input">
        </label></li>
        <li><span class="ecd-page-num" style="display:none;">0</span>/<span class="ecd-page-count">0</span></li>
        <li class="vertical-line">&nbsp;</li>
        <li class="button-li ecd-zoom-out">
            <i class="icon-zoom-out"></i>
        </li>
        <li class="field-li">
            <label>
                <select class="ecd-zoom-select">
                    <option value="50">50%</option>
                    <option value="75">75%</option>
                    <option value="100">100%</option>
                    <option value="125">125%</option>
                    <option value="150">150%</option>
                    <option value="200">200%</option>
                    <option value="300">300%</option>
                    <option value="400">400%</option>
                    <option class="ecd-zoom-custom-select" value="" selected>133%</option>
                </select>
            </label>
        </li>
        <li class="button-li ecd-zoom-in">
            <i class="icon-zoom-in"></i>
        </li>
        <li class="vertical-line">&nbsp;</li>
        <li class="button-li ecd-fit-to-width">
            <i class="icon-width"></i>
        </li>
        <li class="button-li ecd-fit-to-height">
            <i class="icon-height"></i>
        </li>
        <li class="button-li ecd-full-screen">
            <i class="icon-full"></i>
        </li>
        <li class="vertical-line">&nbsp;</li>
    </ul>
    <ul class="pull-right">
        <li class="field-li"><label>
            <input type="text" class="ecd-search-text" placeholder=" Search">
        </label></li>
        <!--<li class="vertical-line">&nbsp;</li>-->
        <!--<li class="button-li ecd-search">-->
            <!--<i class="icon-search"></i>-->
        <!--</li>-->
        <li class="vertical-line">&nbsp;</li>
        <li class="button-li ecd-sidebar">
            <i class="icon-sidebar"></i>
        </li>
    </ul>
    <div class="ecd-progress-container" style="width:100%; height:2px; background-color:#25323A; visibility: visible;">
        <div class="ecd-progress-bar" style="width:0; background-color:#2C95DD; height:2px;"></div>
    </div>
</nav>
<div class="fullscreen-toolbar-wrapper fullscreenToolbar text-center">
    <nav class="ecd fullscreen-toolbar no-select">
        <ul>
            <li class="button-li ecd-previous">
                <i class="icon-prev"></i>
            </li>
            <li class="button-li ecd-next">
                <i class="icon-next"></i>
            </li>
            <li class="field-li"><label>
                <input type="text" class="ecd-page-num-input">
            </label></li>
            <li><span class="ecd-page-num" style="display:none;">0</span>/<span class="ecd-page-count">0</span></li>
            <li class="vertical-line">&nbsp;</li>
            <li class="button-li ecd-zoom-out">
                <i class="icon-zoom-out"></i>
            </li>
            <li class="button-li ecd-zoom-in">
                <i class="icon-zoom-in"></i>
            </li>
            <li class="vertical-line">&nbsp;</li>
            <li class="button-li ecd-full-screen">
                <i class="icon-actual-size-mode"></i>
            </li>
        </ul>
    </nav>
</div>
<div style="background-color: #25323A" class="ecd-thumbnails-bg"></div>